@model IEnumerable<H.EntidadesNegocioEN.PersonaH>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimientoH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComentarioH)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimientoH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
